NODE_ENV=[dev, production]

PORT=

# Connection to DB
DB_DIALECT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Sequelize logging (true/false)
DB_LOGGING=
#UTC/+00:00
TZ=

SESSION_SECRET=

#API of cloudinary.com
CLOUD_NAME=
UPLOAD_PRESET=